* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.container {
  border-right: none;
  border-left: none;
  
  display: flex;
  align-items: center;
}

/* @media screen and (orientation: landscape) {
  .container {
    height: 90vh;
    width: 100vh;
  }

  .view {
    width: 90vh !important;
  }
}

@media screen and (orientation: portrait) {
  .container {
    height: 90vw;
    width: 100vw;
  }

  .view {
    width: 90vw !important;
  }
} */

.view {
  overflow: hidden;
  /* height: 100%; */

  border: 1px solid black;
}

.arrow {
  height: 4rem;
  width: 4rem;
  margin: 1rem;

  background-color: #000000a0;
  color: white;
  border: none;
}

.arrow:hover {
  background-color: #000000;
}

.arrow:focus {
  outline: none;
}

.prev {
  visibility: hidden;
}

img {
  border: 1px solid black;
  max-height: 90vh;
  max-width: calc(100vw - 12rem);
}